td {
  background: lightblue;
  height: 40px;
  width: 40px;
}
table {
  border-collapse: collapse;
}

.color1 {
  background-color: red;
}
.color2 {
  background-color: yellow;
}
.color1 span {
  height: 10px;
  width: 10px;
  background: black;
}
